body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

* {
/*    border: 1px solid black;*/
}


.reg_form{
    margin:0 auto;
    max-width: 768px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .26);
    padding: 0;
}

.banner_heading{
    font-size: 24px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
	font-family: 'Roboto', sans-serif;
    background-color: #795548;
    color: #fff;
    margin: 0;
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.54);*/
}

/*
.form-control,label{ 
    margin: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}
*/

.label-heading{
    padding:16px;
/*    margin: 24px auto;*/
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
/*    border-top: 1px solid rgba(0, 0, 0, 0.26);*/
}

.inputLabel {
    width: 80%;
    margin: auto;
    color: rgba(0, 0, 0, 0.54);
/*    font-size: 14px;*/
    font-weight: 700;
/*    border: 1px solid black;*/
}

.textField
{
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    margin: 16px auto;
    width: 80%;
    padding-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);   /*    Black color opacity low */
    transition-duration: 0.8s;
}

input[type=date]
{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    margin: 16px auto;
/*    width: 80%;*/
    background-color: transparent;
    margin-bottom: 8px;
    margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);   /*    Black color opacity low */
    transition-duration: 0.8s;
}

.dropdownOptions
{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 8px;
    background-color: transparent;
    margin-bottom: 8px;
    margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);   /*    Black color opacity low */
    transition-duration: 0.8s;
}

.sideBySideBlocks{
    padding: 0px 8px 0 0;
}

.sideBySideInputs {
/*    display: block;*/
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
/*    margin: 16px auto;*/
    width: 100%;
    padding-top: 16px;
    padding-bottom: 8px;
/*    padding-left: 0;*/
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);   /*    Black color opacity low */
    transition-duration: 0.8s;
}

.textField:focus,
input[type=date]:focus,
.sideBySideInputs:focus,
.dropdownOptions:focus
{
    outline: none;
    border-bottom: 2px solid #673AB7;   /*    Deep purple color  */

}

.differentInputs {
    padding: 24px 0;
    
}

/*  The HSC, SSC, and Dpharm board style code*/
.marksEntry { 
    margin: 24px auto;
/*    border: 1px solid black;*/

}


::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {  
    color: rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}


input[type=radio] {
    margin-left: 16px;
    border: 0;
    outline: none;
}

.radioLabel {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    margin-left: 4px;
}


#undertaking {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
}

.accept{
/*    width: 100%;*/
    margin: 14px;
    line-height: 32px;
    padding: 14px; 
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
/*    border:1px solid rgba(0, 0, 0, 0.54);*/
}

#accept_label{
    color: #673AB7;
    font-size: 18px;
    margin-right: 8px;
}

ol {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding-right: 32px;
}

.requiredDocsList {
    padding: 16px;
    line-height: 32px;
}

.certificates {
    list-style: none;
}

#input_file_list {
    padding: 0 16px;
}


.file_inputs_multiple
{
    padding: 16px;
/*    width: 100%;*/
/*    border: 1px solid black;*/

}

.attachMore {
    padding: 16px;
}

#formSubmit {
    float: right;
}

.button1
{
    width: 100%;
    margin:20px 0px;
    padding: 8px 4px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	background:#673AB7;
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
    transition-duration: 0.5s;
}


.button1:hover,
.button1:focus
{
    border: 0;
	box-shadow: 0 2px 6px rgba(0,0,0,0.26);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.26);
}

.button
{
    margin:24px 16px;
    padding: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #673AB7;
    letter-spacing: 1px;
	background-color: transparent;
    text-transform: uppercase;
	border: 0px;
/*	border-radius: 15px;*/
	cursor: pointer;
    border-bottom: 2px solid transparent;
    transition-duration: 0.5s;
/*    border: 1px solid black;*/

}

.button:hover,
.button:focus
{
    border: 0;
    border-bottom: 2px solid #673AB7;
}




@media (min-width:768px) 
{
    
}


@media (min-width:992px)
{
    .reg_form{
        margin: 24px auto;
    }
}