body{
    font-family: 'Roboto', sans-serif;
}

.student_list{
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.banner h1{
    color:rgba(0, 0, 0, 0.87);
    font-family: 'Roboto', sans-serif;
    border-bottom:1px solid rgba(0, 0, 0, 0.26);
    font-size: 24px;
    text-align:center;
    padding:24px 0px; 
    background-color:white;
}

#display_list{
    border: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    margin: 26px auto;
    border-radius: 5px;
}

#display_list h3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin:24px auto;
}

#list1{
    border: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
/*    margin: 26px auto;*/
    height: 600px;
    overflow: scroll;
    
}



.button
{

    margin:10px 0px;
    padding: 10px 8px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
/*	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);*/
	background:#2196F3;
	border: 0px;
	border-radius: 2px;
	cursor: pointer;

}


.button:hover 
{
	box-shadow: 0 2px 3px rgba(0,0,0,0.26);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.26);
}


@media (min-width:992px)
{
#list1{
    margin: 26px;
}


}