.logo_top
{
    height:160px;
/*    border:2px solid rgba(0, 0, 0, 0.48);*/
    display: block;
    margin:16px auto;
    width: 171px;
}

.logo
{
    height:156px;
    width: 171px;
}
.banner_heading_top
{ 
    margin: 40px 16px; 
    text-align: center;
}

.banner_heading_top h4
{
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    color: rgba(38, 50, 56, 0.54);
}

.banner_heading_top h1
{
    font-size:32px;
    font-family: 'Roboto', sans-serif;
    color: rgba(38, 50, 56, 0.87);
}

.banner_heading_top h2{
/*    color: rgba(38, 50, 56, 0.87);*/
    display: inline-block;
    padding: 16px 16px;
    border-bottom: 2px solid rgba(38, 50, 56, 0.26)
}

.banner_heading_top a{
    text-decoration: none;
    color: rgba(38, 50, 56, 0.70);
    transition-duration: 0.2s;
}

.banner_heading_top a:hover{
    transition-duration: 0.2s;
    color: rgba(38, 50, 56, 0.87);
}


/*Navbar CSS*/    
.navbar-header 
{
    background-color:#263238;       
}
.navbar-default
{
    background-color:#263238;
    border: 0px solid #263238;
}

#navbar-collapse-1
{
        background-color:transparent;
        border: 0px solid #263238;
}

.navbar-default .navbar-nav >li
{
    padding:16px 5px; 
}

.navbar-default .navbar-nav >li>a
{
    font-size:16px; 
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid rgba(69, 90, 100, 0); 

    color:#ffffff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
        color:#ffffff;
        background-color:#455A64;
        border-bottom: 2px solid #607D8B; 
        
}

.navbar-default .navbar-nav>li>a
{
        color:#ffffff;
        background-color:#263238;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
        color:#ffffff;
/*        border-bottom: 2px solid #ffa726; */
        background-color:#607D8B;    
}

.dropdown>ul
{
    background-color:#263238;
}
.dropdown>ul>li>a
{
    background-color:#263238;
    font-size:18px;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;

}

.dropdown>ul>li>a:hover,
.dropdown>ul>li>a:focus
{
     color:#ffffff;
     background-color:#607D8B;
     font-family: 'Roboto', sans-serif;
     font-size:18px;
}

#dropdown1>.active>a,
#dropdown1>.active>a:focus
{
        color:#ffffff;
        background-color:#455a64;
        border-bottom: 2px solid #455A64; 
        
}

#dropdown1 li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

#dropdown1 li a:hover,
#dropdown1 li a:focus
{
    text-decoration: none;
    color:#ffffff;
    background-color:#607D8B;
}

#toggleButton {
    background-color: #fff;
}

.navbar-header button {
    border: 0px;
}

#navbarButton:hover,
#navbarButton:focus
{
    background-color: #455A64;
}


/*End Of Navbar CSS*/
.footer
{
    background-color:#263238;
    color: white;
    font-family:'Roboto', sans-serif;
}

.footer h3
{
    color: white;
    font-family:'Roboto', sans-serif;
    font-size:16px; 
    margin:16px;
    text-transform: uppercase;
}

.foot_div
{
/*    border: 1px solid #ffa726;*/
    margin: 48px auto;
}

.footer ul {
    list-style: none;
    padding-left: 0px;
}

.footer li
{
    font-size:16px; 
    transition-duration: .2s;
    font-family: 'Roboto', sans-serif;
    color:rgba(255, 255, 255, 0.70);
    margin:16px;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
/*    color:rgba(255, 255, 255, 0.70);*/
    transition-duration: .2s;
}

.footer a:hover>li {
    transition-duration: .2s;
    color: rgb(255, 255, 255);
}

.footer_bottom h2
{
    color: rgba(255, 255, 255, 0.30);
    font-family:'Roboto', sans-serif;
    font-size:16px; 
    text-align: center;
/*    margin:14px 16px;*/
}



@media (min-width:992px)
{
     .logo_top
    {
        margin:16px;
    }

    .banner_heading_top
    { 
        margin:16px;
    }

    .banner_heading_top h1
    {
        font-size:32px;
    }

    .banner_heading_top h4
    {
        font-size:20px;
    }


    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus
    {
        color:#ffffff;
        border-bottom: 2px solid #455A64; 
        background-color:#263238;    
    }


    .footer_bottom h2{
        text-align: left;
    }

   
}