
.serv h3
{
     font-size: 18px;
     text-transform: uppercase;

}

.serv-content
{
    font-family:  sans-serif;
    font-size: 16px;
    color: white;
    padding-left: 30px;
}

.serv-list
{
    padding: 10px;
}


@media (min-width:992px)
{

.serv
{
    margin-bottom: 10px;
    height: 30vh;
}

.img1
{
    height: 25vh;
    width: auto;

}
    
}