
.vision-cont
{
    
    margin-bottom: 20px;
    font-family:  sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.vision-cont h3
{
     font-size: 18px;
     text-transform: uppercase;

}


