
#admin_banner{
    border:1px solid rgba(0, 0, 0, 0.26);
    margin:auto; 
    padding:0px 16px;
}
s
#admin_banner h4{
    font-size: 20px;
}

#admin_banner a{
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    margin: 10px;
    text-align: right;
    font-size: 16px;
}

#admin_banner a:hover{
    color: rgba(0, 0, 0, 0.87);
}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

.reg_form{
    margin:16px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 26);
}

.banner_heading{
    font-size: 22px;
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.form-control,label{
    margin: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}

.label-heading{
    padding:14px;
    margin: 24px auto;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.button
{

    margin:10px 0px;
    padding: 10px 8px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	background:#2196F3;
	border: 0px;
	border-radius: 15px;
	cursor: pointer;

}


.button:hover 
{
	box-shadow: 0 2px 3px rgba(0,0,0,0.26);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.26);
}


.file_inputs_multiple
{
    padding: 5px;
    width: 100%;
}




#accept_label{
    color: #9b791c;
    font-size: 20px;
}

@media (min-width:992px)
{
    
    .reg_form{
    margin: 24px auto;
    }

    .button1{
        margin:auto;
    }
    
    .accept{
        margin: 54px;
        border:1px solid black;
        height: 300px;
        overflow: scroll;
    }

}