.contact_div{
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.54);
     margin: 48px auto;
     font-size:16px;
/*     color:rgba(0, 0, 0, 0.54);*/
     font-family:'Roboto', sans-serif;
}

.contact_div h3 {
    text-align: center;
    color:rgba(0, 0, 0, 0.87);
    margin-bottom: 48px;
}

.contact_div p{
    color:rgba(0, 0, 0, 0.54);
}

.contactInfo {
/*    padding-left: 300px;*/
/*    display: inline;*/
    margin: 24px auto;
    border: 1px solid black;
}

#collegeName {
    font-weight: bolder;
}

@media (min-width: 992px) {
    .contactInfo {
        padding-left: 0px;
    }
}
