.logo_top
{
    height:160px;
    border:2px solid rgba(0, 0, 0, 0.48);
    display: block;
    margin:16px auto;
    width: 171px;
}

.logo
{
    height:156px;
    width: 171px;
}
.banner_heading_top
{ 
    margin: 40px 16px; 
    text-align: center;
}

.banner_heading_top h1
{
    font-size:32px;
    font-family: 'Roboto', sans-serif;
    color: rgba(239, 108, 0, 0.87);
}

.banner_heading_top h4
{
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    color: rgba(239, 108, 0, 0.54);
}

/*Navbar CSS*/    
.navbar-header 
{
    background-color:#ef6c00;       
}
.navbar-default
{
    background-color:#ef6c00;
    border: 0px solid #ef6c00;
}

#navbar-collapse-1
{
        background-color:transparent;
        border: 0px solid #ef6c00;
}

.navbar-default .navbar-nav >li
{
        padding:5px 5px;
        margin: auto;
}

.navbar-default .navbar-nav >li>a
{
    font-size:12px; 
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
        color:#ffffff;
        background-color:#ffa726;
        border-bottom: 2px solid #ffa726; 
        
}

.navbar-default .navbar-nav>li>a
{
        color:#ffffff;
        background-color:#ef6c00;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
        color:#ffffff;
        background-color:#ffa726; 
}


#toggle_button{
    background-color:#ef6c00;
    color: white;
    border: 1px solid #ef6c00;
}
#toggle_button:hover,#toggle_button:focus,#toggle_button:active
{
    background-color:#ffa726;
    color: white;
}

#icon_bar1{
    color: white;
    background-color:white;
}

   
    
#dropdown{
     background-color:transparent;
     color: white;
}
/*
#dropdown a:hover,
#dropdown a:focus,
#dropdown a:active,
#dropdown a
{
     background-color:#ffa726;
     color: white;
}
*/
 
/*
.dropdown>ul
{
    background-color:#ef6c00;
    color:#ffffff;
}

.dropdown>ul>li>a
{
    text-decoration: none;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    background-color:transparent;
    color:#ffffff;

}


.dropdown>ul>li>a:hover,
.dropdown>ul>li>a:focus
{
     
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     font-size:14px;
     background-color:#ffa726;
     color:#ffffff;
}
*/

#dropdown1 li a
{
    text-decoration: none;
    color: white;
}

#dropdown1 li a:hover,
#dropdown1 li a:focus,
{
    text-decoration: none;
    color: white;
    background-color:#ffa726; 
}
#dropdown1 >.active>a
{
    text-decoration: none;
    color: white;
    background-color:#ffa726;

}
/*

.dropdown-toggle{
    background-color:#ffa726;  
}
*/

/* End Of Navbar CSS*/ 


@media (min-width:768px)
{
 .logo_top
{
    margin:16px;
}

.banner_heading_top
{ 
    margin:16px;
    height:160px;
}
    
.banner_heading_top h1
{
    font-size:40px;
}

.banner_heading_top h4
{
    font-size:20px;
}

 .navbar-default .navbar-nav >li
{
    padding:16px 5px;
    margin: 10px auto;
}
    
.navbar-default .navbar-nav >li>a
{
    font-size:16px; 
}
   
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
        color:#ffffff;
        border-bottom: 2px solid #ffa726; 
        background-color:#ef6c00;    
}
   
.dropdown>ul
{
    background-color:#ef6c00;
    color:#ffffff;
}
    
.dropdown>ul>li>a{
    font-size:18px;
    background-color:#ef6c00;
}
    
.dropdown>ul>li>a:hover,
.dropdown>ul>li>a:focus
{
     font-size:18px;
     background-color:#ffa726;
}
    
/*
    
#dropdown{
     background-color:#ef6c00;
     color: white;
}
#dropdown a:hover,
#dropdown a:focus,
#dropdown a:active,
{
     background-color:#ffa726;
}
    
*/

   
}